main{
    display: flex;
    justify-content: center;
    padding: 33px;  
    .rules{
        width: 1000px;
        height: 802px;
        border-radius: 5px 0px 0px 0px;
        background-color: #0000000D;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .timer{
            background-color:white;
            width: 256px;
            height: 64px;
            font-family: Roboto;
            font-size: 36px;
            color: #8b8b8b;
            box-shadow: 2px 2px 2px 2px #1111114d;
            margin-top: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #memory-game {
            display: grid;
            gap: 25px;
            padding-top: 4%;
            padding-left: 3%;
            width: max-content;
            height: max-content;
            
        }
        .memory-card {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;
            transition: transform 0.3s;
            position: relative; 
            transition: transform 0.3s, box-shadow 0.3s;
            box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
            .no-shadow {
                box-shadow: none; 
                transition: box-shadow 0.3s;
            }
            .front-face,
            .back-face {
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transition: transform 0.5s, background-color 0.5s;
                transform-style: preserve-3d;
                z-index: 0;
                position: absolute;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 5px;
                overflow: hidden;
            }
            .front-face {
                transform: rotateY(180deg);

            }
        }
        .memory-card.flipped{ 
            box-shadow: none;
            .back-face {
                transform: rotateY(180deg);
            }
            .front-face {
                transform: rotateY(0);
            }
        }
        .color-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transition: background-color 0.5s ease;
            z-index: 1; 
        }
        .memory-card.correct .color-overlay {
            background-image: url(/picture/win.png);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: calc(100% - 9px) calc(8px);      
            background-color: rgba(10, 207, 131, 0.5); 
        }
        .memory-card.incorrect .color-overlay {
            background-image: url(/picture/lose.png);
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: calc(100% - 9px) calc(8px);  
            background-color: rgba(242, 78, 30, 0.5); 
        }
    }
}